 <!DOCTYPE html>
 <html lang="pt-br">

 <body class="landing-page sidebar-collapse">
  @include('nav/nav')

<div class="section">

</div>

   <div class="main main-raised">
     <div class="container">
       <div class="section text-center">
         <div class="row">
           <div class="col-md-8 ml-auto mr-auto">
             <h2 class="title">Gestão de Conhecimento</h2>
             <h5 class="description">Este espaço foi reservado para que cada usuario colabore com a base de conhecimento da MOR.
               Facilitando a pesquisa de soluções de problemas já resolvidos anteriormente. Use e abuse das funcionalidades aqui disponibilizada.

             </h5>
           </div>
         </div>
         <div class="features">
           <div class="row">
             <div class="col-md-4">
               <div class="info">
                 <div class="icon icon-info">
                   <i class="material-icons">chat</i>
                 </div>
                 <h4 class="info-title">Separado por Tópico</h4>
                 <p>Será criado um tópico e em cada um, um subtopico contendo informações relevantes para futuras pesquisadas e dúvidas.</p>
               </div>
             </div>
             <div class="col-md-4">
               <div class="info">
                 <div class="icon icon-success">
                   <i class="material-icons">verified_user</i>
                 </div>
                 <h4 class="info-title">Usuarios Logados</h4>
                 <p>Este espaço é para fins de pesquisa aos funcionario da MOR. Cada registro sera salvo com o usuário logado !</p>
               </div>
             </div>
             <div class="col-md-4">
               <div class="info">
                 <div class="icon icon-danger">
                   <i class="material-icons">fingerprint</i>
                 </div>
                 <h4 class="info-title">Token de Acesso</h4>
                 <p>Cada usuário tera seu acesso com token exclusivo. Cuide bem dele ! ;)</p>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   @include('footer/footer')
   <!--   Core JS Files   -->


 </html>
