<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="javascript:;">Cadastrar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:;">Alterar / Ecluir</a>
  </li>
</ul>