.cardcustom{
  max-width: 200px;
  /* margin: 10px; */
  margin-right: 14px;
  margin-top: 0;
  /* padding: 10px; */
   min-height: 140px;
  /* justify-content: center; */
  cursor: pointer;
  background-size: cover;
  margin-bottom: 50px;
  transition: all 0.8s;

}
.cardcustom:hover{
  -webkit-box-shadow: 16px 16px 46px -1px rgba(88,90,122,1);
  -moz-box-shadow: 16px 16px 46px -1px rgba(88,90,122,1);
  box-shadow: 16px 16px 46px -1px rgba(88,90,122,1);
}
.containerCustom{
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
.principal{
  background: #eee;
}
.inputCustom{
  border: solid;
  border-width: 0.3px;
}
.inputTitulo{
  display: inline-flex;
}
.teste{
  display: inline;
}
.cardPadding{
  padding: 15px;
}
.cardSubTopico{
  padding: 15px;
  cursor: pointer;
  flex-flow: wrap;
  /* justify-content: space-between; */
  display: flex;
}
a{
  cursor: pointer;
}
h4{
  text-align: center;
  margin: 0 0 0 0;

  /* min-width: 250px; */
}
p{
  margin: 0 0 0 0;
}
.cardTituloTopico{
  margin: inherit;
  border-radius: 0;
  margin-top: -20px;
  color: rgba(0, 12, 94, 0.8);
}