<!DOCTYPE html>
<html lang="pt-br">
<link href="css/cadastro/index.css" rel="stylesheet" />

<body class="landing-page sidebar-collapse">
  @include('nav/nav')

  <div class="section">

  </div>

  <div class="main main-raised">
    <div class="container">
      <div class="section col-md-6">

        <form id="form" onsubmit="alterarTopico()">
          <label>Selecione um Tópico...</label>
          <select onchange="igualaTopico()" class="form-control selectpicker" data-style="btn btn-link"
            id="topicoSelect">
          </select>
          <fieldset id="fieldset" disabled>
            <div class="form-group ">
              <label>Título do tópico</label>
              <input id="titulo" type="text" class="form-control" maxlength="30">
            </div>
            <div class="form-group">
              <label>Descrição</label>
              <input id="descricao" type="text" class="form-control" >
            </div>
            <br>
            <button type="submit" class="btn btn-success">Alterar</button>
            <button type="button" onclick="exlcuirTopico()" class="btn btn-danger">Excluir</button>
          </fieldset>
        </form>
      </div>




    </div>
  </div>
  </div>
  @include('footer/footer')
  <!--   Core JS Files   -->

  <script src="js/cadastroTopico/alterarExcluir.js"></script>

</html>