<!DOCTYPE html>
<html lang="pt-br">

<body class="landing-page sidebar-collapse">
  @include('nav/nav')

  <div class="section">

  </div>

  <div class="main main-raised principal">
    <div class="container">

      <div class="card card-nav-tabs card-plain">
        <div class="card-header card-header-primary">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a onclick="listarTopicos()" class="nav-link active" href="#todos" data-toggle="tab">Todos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#novo" data-toggle="tab">Novo</a>
                </li>
                <li class="nav-item">
                  <a href="#alteracao" onclick="carregarTopico()" class="nav-link" data-toggle="tab">Alteração/Exclusão</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body ">
        <div class="tab-content text-center">

          <div class="tab-pane active " id="todos">
            <div id="conteudo" class="containerCustom">
            </div>
          </div>

          <div class="tab-pane" id="novo">
            <div class="card cardPadding">
              <h2>Novo Tópico :</h2>
              <br>
              <form id="form" onsubmit="cadastrarTopico()">
                <div class="form-group ">
                  <label for="exampleInputEmail1">Título do tópico</label>
                  <input id="titulo" type="text" class="form-control col-md-4" maxlength="30">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Descrição</label>
                  <input type="text" class="form-control" id="descricao">
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                  </div>

                </div>
            </div>
            </form>
          </div>


          <div class="tab-pane" id="alteracao">
            <div class="card cardPadding">
              <form id="form" onsubmit="alterarTopico()">
                <label>Selecione um Tópico para Aleterar/Excluir...</label>
                <select onchange="igualaTopico()" class="form-control selectpicker col-md-6" data-style="btn btn-link"
                  id="topicoSelect">
                </select>
                <br>
                <fieldset id="fieldsetAlteracao" disabled>
                  <div class="form-group ">
                    <label>Título do tópico</label>
                    <input id="tituloAlteracao" type="text" class="form-control col-md-6" maxlength="30">
                  </div>
                  <div class="form-group">
                    <label>Descrição</label>
                    <input id="descricaoAlteracao" type="text" class="form-control">
                  </div>
                  <br>
                  <button type="submit" class="btn btn-success">Alterar</button>
                  <button type="button" onclick="exlcuirTopico()" class="btn btn-danger">Excluir</button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>



  <!--   Core JS Files   -->

  <script src="js/topico/index.js"></script>
  <link href="css/topicos/index.css" rel="stylesheet" />

</html>
@include('footer/footer')