html{
  background-color: #eee;
}
.fieldsetCustom{
  display: flex;
  width: 480px;
}

.formCustom{
  width: auto;
}
.logon-container{
  width: 100%;
  max-width: 860px;
  height: 100vh;
  margin:  auto ;

  display: flex;
  align-items: center;
  justify-content: center;
 
}
.logon-container section.form {
  width: 100%;
  max-width: 400px;
  padding: 25px;
}
.logon-container section.form form {
  margin-top: 10px;
}
.logon-container section.form form h1{
  font-size: 32px;
  margin-bottom: 32px;
}
.logon-container section.form form a{
  display:  flex;
  align-items:center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}
.logon-container section.form form a:hover{
opacity: 0.8;
}
.logon-container section.form form a svg{
margin-right: 8px;
}
.btnLogar{
  width: 100%;
}
.inputLogin{
  width: 100%;
}
.imgLogin{
  max-width: 100%;
}
.textCenter{
  text-align: center;
}
