*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: "Roboto", sans-serif;
}
body{
  height: 100vh;
  background-color: #eee;
}
.containerGlobal{
  margin-left: 100px;
  margin-right: 100px;
}