<!DOCTYPE html>
<html lang="pt-br">

<body class="landing-page sidebar-collapse">
  @include('nav/nav')
  <link href="css/topicos/index.css" rel="stylesheet" />
  <div class="section">


  </div>

  <div class="main main-raised principal">
    <div class="container">

      <div class="card card-nav-tabs card-plain ">
        <div class="card-header card-header-primary">
          <div class="text-center">
            <h3 class=""> Tópicos localizados :</h3>
          </div>
        </div>
        <div class="tab-pane active" id="todos">
          <br>
<!--           <div class="row">
            <h4 class="col">Título</h4>
            <h4 class="col">Modificação</h4>
            <h4 class="col">Usuário</h4>
          </div> -->
          <div id="conteudo">

          </div>

        </div>
      </div>

    </div>
  </div>
  <script src="js/pesquisa/pesquisa.js" charset="utf-8"></script>

  @include('footer/footer')