<!DOCTYPE html>
<html lang="pt-br">
<link href="css/cadastro/index.css" rel="stylesheet" />

<body class="landing-page sidebar-collapse">
  @include('nav/nav')

  <div class="section">

  </div>

  <div class="main main-raised">
    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills nav-pills-rose  flex-column">
              <li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">Cadastro</a></li>
              <li class="nav-item"><a onclick="carregaUsuario()" class="nav-link" href="#tab2" data-toggle="tab">Alterar
                  / Excluir</a></li>
            </ul>
          </div>
          <div class="col">
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">

                <div class="row">
                  <div class="col-sm-6">
                    <form id="formCadastro" onsubmit="cadastrarUsuario()">
                      <fieldset>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Nome Usuário</label>
                          <input id="usuario" type="text" class="form-control" required>
                        </div>

                        <br>
                        <div class="form-group">
                          <label>Senha</label>
                          <input id="senha" type="password" class="form-control" required>
                        </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="card  text-center tamanhoPerfil">
                      <img id="imageNovo" class="card-img-top rounded img-fluid "
                        src="https://upload.wikimedia.org/wikipedia/commons/2/24/Missing_avatar.svg"
                        alt=" Thumbnail Image ">
                      <br>
                      <div class="form-group">
                        <label for="imgNovo">CARREGAR FOTO<label>
                            <input onchange="showImageNovo.call(this)" accept=".jpg,.jpeg,.png" type="file"
                              class="form-control-file" id="imgNovo">
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
                <button type="submit" class="btn btn-success">Cadastrar</button>
                </fieldset>
                </form>

              </div>

              <div class="tab-pane" id="tab2">

                <form id="formAltera" onsubmit="alterarUsuario()">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Selecione um Usuário...</label>
                      <select onchange="igualaUsuario()" class="form-control selectpicker" data-style="btn btn-link"
                        id="usuariosSelect">
                        <option>...</option>
                      </select>
                    </div>
                  </div>
                  <br>

                  <fieldset id="fieldsetAltera" disabled>
                    <div class="row">
                      <div class="col-sm-6">
                        <form id="formCadastro" onsubmit="alterarUsuario()">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Nome Usuário</label>
                            <input id="usuarioAltera" type="text" class="form-control" required>
                          </div>
                          <br>
                      </div>

                      <div class="col-sm-3">
                        <div class="text-center tamanhoPerfil ">
                          <div class="card  ">
                            <img id="imageAltera" class="card-img-top rounded img-fluid "
                              src="https://upload.wikimedia.org/wikipedia/commons/2/24/Missing_avatar.svg"
                              alt=" Thumbnail Image ">
                            <br>
                            <div class="form-group ">
                              <label for="imgAltera">CARREGAR FOTO<label>
                                  <input onchange="showImageAltera.call(this)" accept=".jpg,.jpeg,.png" type="file"
                                    class="form-control-file" id="imgAltera" >
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                    </div>
                    <div class="row">
                      <div class="col">
                        <button type="submit" class="btn btn-success">Alterar</button>
                        <button type="button" onclick="excluirUsuario()" class="btn btn-danger">Excluir</button>
                      </div>
                    </div>
                  </fieldset>

                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  @include('footer/footer')
  <!--   Core JS Files   -->
  <script src="../js/cadastro/index.js"></script>

</html>