.nav{
  display: flex;
  flex-direction: row;
  background-color: #1976d2;
  text-justify: auto;
  height:  60px;
  align-items: center;
  
}
.nav li{
  
  display: flex;
  margin: 5px;
  color: white;
 
  
}
.nav ul{
  display: flex;  
  
}
nav a{
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  align-items: flex-end;
}
span{
  margin-left: 5px;
}
